/**************************
Daniel Suárez - UO276467
Descripción de los estilos
**************************/
body {
    font-family: 'Times New Roman', Times, serif;
    color:black;
    text-align: justify;
}
header {
    background-color: #FF5733;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}
aside {
    background-color: antiquewhite;
    font-size: 2em;
    text-align: center;
}
nav{
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    border-style: dotted;
    border-color: blue;
}
main {
    background-color:ivory;
}
section {
    background-color:darkseagreen;
}
h2#fyd {
    background-color:cornflowerblue;
}
ul {
    display: block;
    list-style-type:circle;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
}
table{
    background-color: ;
}
footer{
    background-color:khaki;
}


