/**************************
Daniel Suárez - UO276467
Descripción de los estilos
**************************/

/*Especifidad 1*/
body {
    display: grid;
    grid-template-columns: [col1] auto [col2] auto [col3] 20%;
    grid-template-rows: [row1] 15em [row2] 3em [row3] auto [row4] 6em;
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "main main aside"
    "footer footer footer";
    gap: 1em;
}

/*Especifidad 1*/
header{
    grid-area: header;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Especifidad 1*/
nav{
    grid-area: nav;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/*Especifidad 1*/
main{
    grid-area: main;
    display: flex;
    flex-direction: column;
}

/*Especifidad 2*/
main section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

/*Especifidad 1*/
aside{
    grid-area: aside;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

/*Especifidad 1*/
footer{
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-items: flex-start;
}