/**************************
Daniel Suárez - UO276467
Descripción de los estilos
**************************/
header {
    background-color: #FF5733;
}
aside {
    background-color: antiquewhite
}
main {
    background-color:darkgray;
}
h2 {
    background-color:cornflowerblue;
}
footer{
    background-color:darkseagreen;
}


